# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno y secretos
.env
llave.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuraciones de Editores/IDEs
.idea/
*.swp
*.swo

# Logs y bases de datos locales
*.log
*.sqlite3

# Descargas temporales de yt-dlp (Audios)
*.webm
*.mp3
*.m4a
*.wav
*.mp4

# Carpetas de modelos locales de HuggingFace (Si los descargan en la raíz)
models/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
